/* Reset */
body, p{
  margin: unset;
}
/* Typography */
:root {
  font-family: Arial, sans-serif;
}

/* Components */
body {
  background-color: #D9D9D9;
}
.wrap {
  width: 450px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color:  white;
  overflow: hidden;
}

.header {
  border-bottom: 4px solid #DDD;
  font-size: 24px;
  font-weight: 700;
  color: #FF007A;
  padding: 40px 38px;

}

.header::before {
  content: '';
  border: 4px solid #FF007A;
  border-radius: 0 10px 10px 0;
}

.contents {
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  padding: 45px 38px;
  gap: 14px;
}

p {
  border: 4px solid #D9D9D9;
  border-radius: 10px;
  font-weight: 700;
  background-color: #FFF;
  padding: 15px;
  color: #888888;
  background-position: center right 10px;
}


p:nth-child(2) {
  color:#759CFF;
  border: 4px solid #759CFF;
  background-image: url("./images/check.png");
  background-repeat: no-repeat;
  position: right;
}