/* CSS RESET */
* {
  margin: unset;
  padding: unset;
}

h1 {
  margin: unset;
  padding: unset;
  font-size: unset;
}

ul {
  list-style-type: none;
}

/* COMPONENTS */
body {
  background-image: url("./images/back.avif") ;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  color:rgb(226, 240, 232);
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #fff;
}

.header {
  background-image: url("./images/cover.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  text-align: center;
}

.photo {
  width: 180px;
  height: 180px;
  background-color: rgba(115, 187, 163, 0.233);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #fff;
}

.photo:hover {
  background-color: rgb(115, 187, 163);
}

.photo img {
  width: 180px;
  height: 200px;
  position: relative;
  object-fit: cover;
  object-position: top 20px right 5px;
}

.header h1 {
  font-size: 45px;
  backdrop-filter: blur(1px);
  margin: 5px 0;
}

.header p {
  font-weight: 600;
  letter-spacing: 0.2em;
  backdrop-filter: blur(1px);
  border-top: 4px solid ;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 0 10px 0;
}

.content {
  background-color: rgb(249, 252, 250);
  padding: 15px;
  color:#405244;
}

.section {
  background-color: rgba(175, 187, 175, 0.411);
  padding: 10px 25px;
  border-radius: 15px;
  background-image: url("./images/user-info-icon.png");
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: right 20px center;
}

.section.skill {
  background-image: url("./images/com02.png");
}

.section+.section {
  margin-top: 15px;
}

.content h2 {
  color:rgb(21, 70, 38);
}

.content li::before {
  content: url("./images/flo01.png");
  margin-right: 3px;
}

.list li:hover {
  font-weight: 1000;
}

.list li:hover::before{
  content: url("./images/flo02.png");
}

.footer {
  background-color: rgb(55, 95, 78);
  letter-spacing: 0.2em;
  text-align: center;
  padding: 3px;
} 