/* Resets */
body, p{
  margin: unset;
  }

h1,h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
  line-height: normal;
}


/* Typography */
:root {
  font-family: Arial, sans-serif;
}

/* Components */
body {
 background-color: #D9D9D9;
 width: 100vw;
}


.header {
  background-color: #fff;
  width: 100vw;
  padding: 30px;  
  display: flex;
}

h1 {
  color: #F60;
  margin: auto;
  font-size: 24px;
  font-weight: 700;
}

.header_img {
  width: 124px;
  height: 100px;
  margin: auto;
}

.l_wrap {
  margin: auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.main {
  margin-top: 30px;
  width: 300px;
}

.section {
  flex-basis: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.section_title {
  position: relative;
}

.title_img  {
  height: 200px;
  vertical-align: top;
}

.title_name {
  background-color: rgba(0, 0, 0, 0.80);
  padding: 10px 20px;
  width: fit-content;  
  font-size: 24px;
  font-weight: 700;
  border-radius: 0 12px 0 0;
  position: absolute;
  left:0;
  bottom: 0;
}

.title_name.orange { color: #F60; }
.title_name.green { color: #17A651;}
.title_name.blue { color: #0075FF;}

.section_contents {
  background-color: #fff;
  width: 260px;
  padding: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.section_contents .orange { color: #F60; font-weight: 700; }
.section_contents .green { color: #17A651; font-weight: 700; }
.section_contents .blue { color: #0075FF; font-weight: 700; }

.section_tag {
 background-color: #F4F4F4;
 padding: 30px 20px;
 display: flex;
 flex-wrap: wrap;
 gap: 5px;
}

.section_tag p {
  color: #FFF;
  font-size: 12px;  
  font-weight: 500;
  line-height: 16px;  
  padding: 2px 6px;
  width: fit-content;
  border-radius: 48px;
}

.section_tag.orange p { background-color: #F60; }
.section_tag.green p { background-color: #17A651; }
.section_tag.blue p { background-color: #0075FF; }

.footer {
  color: #AAA;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.88px;
  margin-top: 30px;

}