/* CSS RESET */
body {
  margin: initial;
}
h1 {
  margin: 0;
}


/* COMPONENTS */
body {
  background-image: url("./images/bg4.png") 
}

div {
  background-color: white;
  width: 450px;
  margin: 100px auto;
  padding-top: 20px;
  border-radius: 10% 10% 0 0;
  border-bottom: 20px solid gray ;
  text-align: center;
}

img {
  width: 300px;
  margin: 30px auto;
  display: block;
}

h1 {
  border-bottom: 5px solid rgb(36, 34, 34);
  width: fit-content;
  letter-spacing: 0.2em;
  margin: 0 auto;
}

p {
  background-color: lightgray;
  padding: 10px; 
  margin: 20px;
}