/* CSS RESET */
body,h1,ul {
  margin: unset;
}
h1 {
  margin: unset;
  font-size: inherit;
}
/* 익숙해질 때까지 레이아웃 가시화, 리셋 모두 차근차근 살펴보기  */


/* COMPONENTS */
body {
  background-image: url("./day01-images/orange-bg.png");
  padding-top: 100px;
}

h1 {
  font-size: 30px;
  color: orange;
  margin: 20px;
  text-align: center;
}

div {
  background-color: white;
  width: 400px;
  padding: 60px;
  margin: 50px auto;
  border: 10px solid orange;
  border-radius: 10%;
}

li {
 padding: 5px 30px; 
}